@font-face {
  font-family: "Josefin Sans";
  src: url("../assets/fonts/JosefinSans-VariableFont_wght.ttf")
    format("truetype-variations");
  font-weight: 100 1000;
}

body {
  background-color: #444b6e;
  font-family: "Josefin Sans", sans-serif;
}

/*Helper classes*/

.font-size-20 {
  font-size: 20px;
}

/*Specific classes*/

#cv-header {
  background-color: #3d315b;
  text-align: center;
}

h1 {
  font-size: 26px;
  font-variation-settings: "wght" 850;
  margin-top: 1%;
  color: white;
}

h2 {
  font-size: 22px;
  margin: 2% auto 2% 5%;
  color: white;
  font-weight: 800;
}

h3 {
  font-size: 20px;
  margin-top: 1%;
  margin-bottom: 1%;
  color: white;
}

hr {
  margin: 2% auto;
  border: 1.5px solid white;
}

ul {
  color: white;
  list-style-type: disc;
  margin-left: 7%;
  line-height: 2;
  font-size: 20px;
}

p {
  color: white;
  font-size: 20px;
  width: 70%;
  margin: 0.5% auto 1% 6%;
  line-height: 1.5;
}

.portrait {
  height: 200px;
  width: 160px;
  border-radius: 10%;
  margin-top: 2%;
  border: 5px solid #d9dbf1;
}

address {
  font-style: normal;
}

.contacts {
  color: white;
  margin-right: 1%;
  font-size: 18px;
}

#profile a {
  margin: 2% auto auto 6%;
  padding: 0.5%;
  display: inline-block;
  color: white;
  text-decoration: none;
  border: 2px solid white;
  background-color: #3d315b;
}

#profile a:hover {
  padding: 0.5%;
  background-color: #3c305ab8;
}

.company-heading {
  margin: 1% auto auto 6%;
}

.next-line-text {
  display: block;
  margin: 0.5% 0;
}

.employment-period {
  color: #a8ffe2;
  font-size: 16px;
}

.highlight {
  background-color: #3c305ab3;
  display: inline-block;
  width: 67.5%;
}

.highlight > h3 {
  margin-left: 9%;
}

.highlight > p {
  margin-left: 9%;
}

.nested-list {
  list-style-type: none;
}

.skill-measurement-text {
  color: white;
  margin: 2% auto auto 6%;
}

.skill-measurement-85 {
  width: 240px;
  height: 20px;
  background: linear-gradient(to right, #639a88 0 85%, #ffffff 85% 100%);
  margin: 0.7% auto 0.7% 6%;
}

.skill-measurement-70 {
  width: 240px;
  height: 20px;
  background: linear-gradient(to right, #639a88 0 70%, #ffffff 70% 100%);
  margin: 0.7% auto 0.7% 6%;
}

.skill-measurement-50 {
  width: 240px;
  height: 20px;
  background: linear-gradient(to right, #639a88 0 50%, #ffffff 50% 100%);
  margin: 0.7% auto 0.7% 6%;
}

.skill-measurement-40 {
  width: 240px;
  height: 20px;
  background: linear-gradient(to right, #639a88 0 40%, #ffffff 40% 100%);
  margin: 0.7% auto 0.7% 6%;
}

.skill-measurement-30 {
  width: 240px;
  height: 20px;
  background: linear-gradient(to right, #639a88 0 30%, #ffffff 30% 100%);
  margin: 0.7% auto 0.7% 6%;
}

picture.certificate img {
  margin: 1% auto auto 10%;
  border: 6px solid #d9dbf1;
  border-radius: 3%;
}

picture.certificate img.first-certificate {
  margin-top: 0;
}

.certificates-block-width {
  width: 50%;
}
