@use "sass:color";

@font-face {
  font-family: "Josefin Sans";
  src: url("../assets/fonts/JosefinSans-Regular.ttf");
  font-weight: 400;
}

@font-face {
  font-family: "Josefin Sans";
  src: url("../assets/fonts/JosefinSans-SemiBold.ttf");
  font-weight: 600;
}

@font-face {
  font-family: "Josefin Sans";
  src: url("../assets/fonts/JosefinSans-VariableFont_wght.ttf")
    format("truetype-variations");
  font-weight: 100 1000;
}

$bg-primary: #294d4a;
$bg-secondary: #70a9a1;
$gradient-primary: #bfd9d5;
$gradient-secondary: #ffffff;

$textColors: (
  contrast: #ffffff,
  text-accent: #294d4a,
);

/*HELPER CLASSES*/

@each $name, $color in $textColors {
  .#{$name} {
    color: $color;
  }
}

.bg-primary-custom {
  background-color: $bg-primary;
}

.bg-secondary-custom {
  background-color: $bg-secondary;
}

.bg-l-blue {
  background: linear-gradient(
    to right,
    color.adjust($gradient-primary, $alpha: 0.5),
    $gradient-secondary
  );
}

.h-25-p {
  height: 25px;
}

.svg-icon {
  width: 2rem;
  height: 2rem;
  fill: #294d4a;
}

.list-type-square {
  list-style-type: square;
}

.list-type-none {
  list-style-type: none;
}

.border-custom {
  border: 10px solid $gradient-primary;
}

body {
  font-family: "Josefin Sans", sans-serif;
}

/*HEADER*/
.header {
  display: grid;
  grid-template-columns: 1fr 5fr;
  grid-template-rows: repeat(1fr, 3);
  grid-template-areas: "portrait about" "portrait line" "portrait contacts";
  column-gap: 4%;
  padding: 2%;
  color: $gradient-secondary;
}

.portrait-section {
  grid-area: portrait;
  text-align: center;
}

.header__portrait {
  border: 6px solid $gradient-secondary;
}

.about-me-section {
  grid-area: about;
}

.header__line {
  grid-area: line;
}

.contacts-section {
  grid-area: contacts;
}

.contacts-section__contact-link {
  position: relative;
}

.contacts-section__contact-link::after {
  transform: scaleX(0);
  content: "";
  position: absolute;
  width: 100%;
  height: 1px;
  background-color: $gradient-secondary;
  transition-duration: 1000ms;
  transition-property: transform;
  transform-origin: center;
  transition-timing-function: ease-out;
  bottom: 0;
  left: 0;
}

.contacts-section__contact-link:hover::after {
  transform: scaleX(1);
  transform-origin: center;
}

/*MAIN*/
.main-grid-container {
  display: grid;
  grid-template-columns: 1fr 5fr;
  grid-template-areas: "skills employment" "skills education" "skills certificates";
  column-gap: 4%;
  row-gap: 5rem;
  padding: 2% 0 2% 2%;
}

.skills-section {
  grid-area: skills;
  border-right: 0.3rem solid $bg-secondary;
}

.skills-section__progress-bar {
  box-shadow: 0 0 10px #294d4a inset;
  transition: transform 500ms;
}

.skills-section__progress-bar:hover {
  transform: scaleX(1.1);
}

.employment-history-section {
  grid-area: employment;
}

.education-section {
  grid-area: education;
}

.certificates-section {
  grid-area: certificates;
}
